name: Deploy on Hugging Spaces

on: 
  push:
    branches: [ master ]
  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Add remote
      env:
        HF: ${{ secrets.HUGGING_FACE }}
      run: |
        git remote add space https://huggingface.co/spaces/babaJaguska/demo2
    - name: Push to hub
      env:
        HF: ${{ secrets.HUGGING_FACE }}
      run: |
        git push --force https://babaJaguska:${HUGGING_FACE}huggingface.co/spaces/babaJaguska/demo2 master
